/* font */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&family=Poppins:wght@400;500;700&display=swap');
/* font end */

body {
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
}

.btn {
  background-color: #B68C5A;
  padding: 15px 20px;
  color: #fff;
}

.section-title {
  max-width: 576px;
}

h2 {
  font-weight: 800;
  font-size: 40px;
}

p {
  font-size: 16px;
}

/* header */
#header {}

.header-top {
  padding: 60px 0px;
}

.logo {}

.logo h1 {
  font-family: 'EB Garamond';
  font-weight: 800;
}

.header-menu {}

.header-menu ul {
  align-items: center;
}

.header-menu ul li {}

.header-menu ul li a {
  color: #707070;
}


button.header-btn {
  background-color: ;
}

.header-main {
  color: #fff;
  background-image: url(../images/banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.main-content {
  max-width: 692px;
  margin: auto;
  padding: 105px 0px;
}

.main-content h1 {
  font-family: 'EB Garamond';
  font-weight: 800;
  font-size: 72px;
}

.main-content p {
  font-size: 16px;
}

button.header-main-btn {
  padding: 10px 25px;
}

input.form-control {
  padding: 10px;
}

/* legal-practice */
#legal-practice {
  padding: 120px 0px;
}

.my-card-group {
  border-bottom: 1px solid gray;
}

.my-card {
  background-color: #fff;
  border: none;
  padding: 25px;
}


.my-card h3 {
  font-size: 32px;
  font-weight: bold;
  color: #000000;
}

.my-card-2 {
  background: linear-gradient(0deg, rgb(255, 255, 255), rgba(175, 169, 169, 0.321)) no-repeat;
  border-radius: 5px;

}

.card-border {
  border: 0px 1px solid gray;
}

.card img {
  width: 75px;
  height: 75px;
  margin: 20px 0px;
}

/* .card {
  border: 1px solid rgb(232, 232, 232);
} */

i.fa-solid.fa-arrow-right {
  background-color: blue;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50px;
  margin: 0 auto;
  color: #fff;
  font-size: 16px;
}

/* testimonail */
.carousel-item img {
  height: 500px;
}

.carousel-caption img {
  margin-bottom: 30px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
}


/* frequently-questions */
#frequently-questions {
  padding: 50px 0px;
}

.accordion-header {
  background-color: #a0808038;
}

.accordion-item {
  background-color: #a0808038;
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
  transform: scale(.7) !important;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
}

.accordion-button:focus {
  background-color: #f4f4f4;
  outline: none;
  color: #000000;
}